@font-face {
    font-family: "CursedTimerUlil-Aznm";
    src: url("CursedTimerUlil-Aznm.ttf");
}
body {
    margin: 0;
    height: 100vh;
    background: #1B244A;
}
.container {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "CursedTimerUlil-Aznm";
    line-height: 36px;
    letter-spacing: 0cm;
    text-align: center;
    color:#EEEEEE;
}
.who {
    margin: 0;
    line-height: 80px;
    font-size: 80px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}
.blk {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 270px;
    height: 200px;
    background: #080001;
    border-radius: 5px;
}
#home-score-element {
    margin: 0;
    color: #F94F6D;
    font-size: 150px;
    padding-top: 100px;
    font-weight: lighter;
    user-select: none;
}
#guest-score-element {
    margin: 0;
    color: #F94F6D;
    font-size: 150px;
    padding-top: 100px;
    font-weight: lighter;
    user-select: none;
}
.gray {
    width: 270px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.out {
    gap: 50px;
    font-size: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}
p {
    margin: 13px;
    user-select: none;
}