html {
    height: 349px;
}
@font-face {
    font-family: "CursedTimerUlil-Aznm";
    src: url("CursedTimerUlil-Aznm.ttf");
}
body {
    margin: 100px;
    background: #1B244A;
}
.container {
    display: flex;
    justify-content: space-around;
    font-family: "CursedTimerUlil-Aznm";
    line-height: 36px;
    letter-spacing: 0cm;
    text-align: center;
    color:#EEEEEE;
}
.who {
    margin: 0;
    line-height: 80px;
    font-size: 80px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blk {
    margin-top: 20px;
    width: 270px;
    height: 200px;
    background: #080001;
    border-radius: 5px;
}
.red {
    margin: 0;
    color: #F94F6D;
    font-size: 150px;
    padding-top: 100px;
    font-weight: lighter;
}
.lil1 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}